doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/Logo.svg", type="image/x-icon")
        title Контакты
    body 
        .container-bordering 
            .main.main--contacts 
                .main-header Контакты
                img(src="./assets/images/content/decor1.svg", alt="").circle1
                img(src="./assets/images/content/decor2.svg", alt="").circle2
                img(src="./assets/images/content/sosi 1.svg", alt="").decor1
                .support-section
                    .support-section__header Служба поддержки
                    .support-section__par 
                        | Мы на официальной страже галактики Спутника 
                        br
                        span.support-section__par--bold с 8:00 до 22:00 по МСК ежедневно
                        | , и в выходные, и в праздники. 
                        br
                        | Мы любим свою работу, поэтому вы получаете наши сообщения даже вне рабочего времени.
                    .support-section__par 
                        span.support-section__par--bold Написать нам
                        |  можно прямо из приложения. Если у вас нет такой возможности, то всегда можно обратиться с сайта через окно чата в правом нижнем углу или написать на почту 
                        a(href="mailto:helpme@sputnik.systems").support-section__par--link helpme@sputnik.systems
                        | .
                .questions-section 
                    .questions-section__card 
                        .questions-section__header 
                            | Приобрести оборудование
                            br
                            | или задать вопрос про услуги
                        .questions-section__link
                            a(href="tel:88005115232") 8-800-511-52-32
                        .questions-section__link 
                            img(src="./assets/images/content/tg-logo.svg", alt="")
                            a(href="#") sputnik_sales_bot
                        .questions-section__link 
                            a(href="mailto:sales@sputnik.systems") sales@sputnik.systems 
                    .questions-section__card 
                        .questions-section__header 
                            | Обратиться насчет гарантии
                            br
                            | на имеющееся оборудование
                        .questions-section__link
                            a(href="mailto:service@sputnik.direct") service@sputnik.direct 
                    .questions-section__card 
                        .questions-section__header 
                            | Для СМИ и PR-служб,
                            br
                            | а также по вопросам маркетинга
                        .questions-section__subheader 
                            | Даём комментарии и пишем статьи. 
                            br
                            | Пригласите нас в качестве спикера
                        .questions-section__link
                            a(href="mailto:anna@sputnik.systems") anna@sputnik.systems 
                    .questions-section__card
                        .questions-section__header Для соискателей
                        .questions-section__subheader 
                            | Мы всегда ищем амбициозных
                            br
                            | и сильных профессионалов. 
                            br
                            | Присылайте резюме
                        .questions-section__link 
                            img(src="./assets/images/content/tg-logo.svg", alt="")
                            a(href="#") lilia_afanaseva
                .info-section 
                    .info-section__header Реквизиты
                    .info-section__subheader Общество с ограниченной ответственностью «Спутник»
                    .info-section__subheader Юридический адрес:
                    .info-section__text 121205, г .Москва, тер. Инновационного центра Сколково, ул. Нобеля, д. 7, эт/ч.пом 3/51
                    .info-section__subheader Почтовый адрес:
                    .info-section__text 421001, Республика Татарстан, г. Казань, а/я 46
                    .info-section__row 
                        .info-section__subheader Электронная почта:
                        .info-section__text sales@sputnik.systems 
                    .info-section__row 
                        .info-section__subheader ИНН:
                        .info-section__text 7731323200
                    .info-section__row 
                        .info-section__subheader КПП: 
                        .info-section__text 773101001
        .footer 
            .container-bordering 
                a(href="#").footer--publisher
                    .skolk-div  
                .footer--navigation 
                    a.navigation-link(href="#") 
                    a.navigation-link(href="#") 
                    a.navigation-link(href="#") 
                    a.navigation-link(href="#") 
                .footer--button 
                    img(src="./assets/images/content/footerBtn.png", alt="")



            

            
                


                





