doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/Logo.svg", type="image/x-icon")
        title Юристы
    body 
        .container-bordering 
            .main.main--lawyer 
                .main-header Юридические материалы 
                .main-caption Вся продукция ООО «Спутник» является зарегистрированными и охраняемыми Законом объектами интеллектуальной собственности.
                .lawyer-section 
                    .lawyer-section__text Все фирменные знаки, тексты, фотографии, иллюстрации, защищены авторским правом. Любое нарушение и/или попытка нарушения интеллектуальных прав на изобретение, промышленный образец, авторских прав отслеживается и преследуется по Закону. Виновные лица будут привлечены к ответственности, в том числе к возмещению убытков, компенсационных выплат в размерах до 5 млн. рублей за одно нарушение, ликвидации юридического лица, нарушившего права на интеллектуальную собственность, а также в лишении свободы до 2 лет, что предусмотрено статьей 146 Уголовным Кодексом РФ.
                    .main-caption Наше оборудование и программное обеспечение постоянно обновляются, поэтому внешний вид может отличаться от фотографий.
                    a(href="#").lawyer-section__link Политика конфиденциальности
                .partners-section
                    a(href="#").partners-section__link
                        img(src="./assets/images/content/logoSkolk.png", alt="") 
                    a(href="#").partners-section__link
                        img(src="./assets/images/content/fondInoLogo.png", alt="") 