doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/Logo.svg", type="image/x-icon")
        title Маркетинг
    body 
            .main.main--marketing 
                .container-bordering 
                    .main-header Наше главное правило: 
                    .main-subheader У нас нет никаких правил!
                    .main-caption 
                        | Ниже мы собрали рекомендации и шаблоны призванные облегчить работу. 
                        br
                        | Но вы всегда можете предложить свое видение.
                        br
                        span.main-caption--blue У нас это не только не воспрещается, но и поощряется!
                    .refferals-section
                        .refferals-section__card
                            .refferals-section__img 
                                img(src="./assets/images/content/example1.png", alt="")
                            .refferals-section__header Брендбук 
                            a(href="#").refferals-section__link подробнее
                        .refferals-section__card
                            .refferals-section__img 
                                img(src="./assets/images/content/example2.png", alt="")
                            .refferals-section__header Фотобанк
                            a(href="#").refferals-section__link подробнее
                        .refferals-section__card
                            .refferals-section__img 
                                img(src="./assets/images/content/example3.png", alt="")
                            .refferals-section__header Рекламные материалы
                            a(href="#").refferals-section__link подробнее
                        .refferals-section__img1
                            img(src="./assets/images/content/decor4.svg", alt="")
                        .refferals-section__img2
                            img(src="./assets/images/content/decor3.svg", alt="")
                .promote-section
                    .container-bordering 
                        .promote-section__header Пригласите нас в качестве спикера!
                        .promote-section__text 
                            | По вопросам согласования рекламных материалов, разрешений на использование ТЗ или любых других вопросов маркетинга 
                            br
                            a(href="mailto:anna@sputnik.systems").promote-section__link  anna@sputnik.systems
                        .promote-section__img
                            img(src="./assets/images/content/decor5.png", alt="")
                        .promote-section__globe
                            img(src="./assets/images/content/globe.svg", alt="")
