doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/Logo.svg", type="image/x-icon")
        title Гарантийное обслуживание
    body 
        .main.main--warranty 
            .container-bordering 
                .main-header Гарантийный ремонт
                .selling-section
                    .selling-section__row
                        .selling-section__card 
                            .selling-section__numbers
                                .selling-section__number-container 
                                    .selling-section__number 12
                                    .selling-section__caption стран
                                .selling-section__number-container 
                                    .selling-section__number 192
                                    .selling-section__caption города России 
                            .selling-section__text
                                | Наше оборудование используется в совершенно разных климатических условиях. Мы 
                                span.selling-section__text--blue гарантируем высокое качество
                                | при эксплуатации в соответствии с опубликованными рекомендациями.
                        .selling-section__card 
                            .selling-section__numbers
                                .selling-section__number-container 
                                    .selling-section__number 1
                                    .selling-section__caption год
                            .selling-section__text.selling-section__text--strange
                                span.selling-section__text--blue Срок гарантии
                                br
                                |  с момента первого выхода оборудования в онлайн.
                    .selling-section__more 
                        | Подробный условия гарантии 
                        a(href="").selling-section__link здесь
                    .selling-section__help 
                        .selling-section__par 
                            | При возникновении гарантийного случая, необходимо самостоятельно 
                            span.selling-section__par--blue завести заявку в личном кабинете 
                            | Партнера, где в дальнейшем можно отследить статус обращения.
                        .selling-section__par
                            | Подготовили 
                            span.selling-section__par--blue подробную инструкцию 
                            | для 
                            a(href="").selling-section__link мобильного контроля
                            |  и 
                            a(href="").selling-section__link WEB версии 
                            | , а так же 
                            a(href="").selling-section__link видеообзор
                            | .
                    
            .promote-section
                .container-bordering 
                    .promote-section__header Негарантийный ремонт
                    .promote-section__text 
                        | Если оборудование не подходит под условия гарантийного ремонта, мы можем осуществить ремонт на возмездной основе. Такие запросы принимаются на почту 
                        a(href="mailto:service@sputnik.direct").promote-section__link service@sputnik.direct
                    .promote-section__img
                        img(src="./assets/images/content/decor3.svg", alt="")
                    .promote-section__globe
                        img(src="./assets/images/content/decor4.svg", alt="")
